<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentAppWPF.Properties.Settings.utb_databaseConnectionString"
            connectionString="Data Source=tcp:utbserver.database.windows.net;Initial Catalog=utb-database;Persist Security Info=True;User ID=utbadmin;Password=UTB_user123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>